<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename ='prod_style.css')}}">
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


    <div style = "margin-bottom: 40px; margin-top: 45px; font-size: 30px; "><center>
    <h1 >Comparing products on Amazon vs Flipkart<h1>
        </center>
    </div>

    <div style = "font-size: 21px; font-weight: bold ;color: brown"><center>
      <label  >Product Name (Queried) : {{prd}}</label><br>
        <label >Brand Name : {{brd}}</label><br>
    </center></div>

    <div>
    <h2><center>

    <form action="{{url_for('displayGraphs')}}" method="POST">
    <input style = "color: #ffffff;
    background-color: #424242;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px; margin-bottom: 10px;
    position: relative;" type="submit" id="Comp_Button" value = 'Comparative Analysis Page'></input></form>



    <form action="{{url_for('productsDisplay')}}" method="POST">
    <input style = "color: #ffffff;
    background-color: #424242;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    position: relative;" type="submit" id="Prod_Button" value = 'Products Page'></input></form>
    </center></h2><hr>



    </div>

</head>
<body style="background-color:ivory;">

<!-----Product Loop Item Block start below---->
    {%for i in df%}

    <div class="product" id = {{i[9]}} >
        <div class="product-img">
            <img src={{i[6]}} title="Product title">
        </div>

        <div class="product-info" style = "color : black; font-weight : bold;">
                <input type="hidden" id="slider_input" name="hidden" value={{i[2]}} />
                <h3 name="p_name" id = {{i[9]}}>{{i[2]}}</h3><hr>

                </br><button class = "my-button" id = {{i[9]}} onclick="prodExt(this.id)" >
            Sentiment Analysis</button></div></br>

            <div class="price" style = "font-weight : bold; "><center>Product Price :
                <span class="discount">₹ {{i[3]}}</span></center>
            </div>
            <div class="price" style = "font-weight : bold; "><center>Product Ratings :
                <span class="discount">{{i[4]}}</span><span style ="color: gold; font-size :20 px;"> ★</span></center>
            </div>
            <div class="price" style = "font-weight : bold; "><center>Ratings Count :
                <span class="discount">{{i[5]}}</span></center>
            </div>
            {% if (i[1] == "Amazon") %}
                <div class="price" style = "font-weight : bold; color:purple" ><br><center>
                    E-commerce Website <br><img style = "width: 35%; height: 8%;"
                        src="static/images/amz.png"></center></div>
            {% else %}
                <div class="price" style = "font-weight : bold; "><center>E-commerce Website <br><img style = "width: 20%; height: 20%;"
                        src="static/images/flk.png"></div></center>
             {% endif %}

        <div class="product-btns" style = "color:blue;ß"><center>Product Link</center>
            <ul>
                <li><a href={{i[7]}}><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>

        </div>
            <hr>
    </div>


    {%endfor%}˳


        <script type = "text/javascript">
            function prodExt(id_given){
            console.log(id_given)
            var qry = "div.product-info h3[id =" + id_given + "]";
            console.log(qry)

          $.ajax({
            url: '{{ url_for('sentimentAnalysis') }}',
            type: 'POST',
            data: {
                name: id_given
            },
        success: function (response) {
          window.location.replace('cmts_option');
        },
        error: function (error) {
          console.log(error);
        }
        });};


            </script>
</body>
</html>